<a href="https://colab.research.google.com/github/andrejarenkow/dicas-python/blob/main/Dicas_para_pesquisadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Dica para pesquisadores!

Você já realizou alguma pesquisa e sofreu para fazer o somatório das respostas de uma pergunta de múltipla escolha? O código abaixo ajuda a realizar esta tarefa para você!

Criei um formulário com uma pergunta de múltipla escolha, com 7 opções de resposta, com algumas resposta assinaladas, e uma planilha gerada a partir dele.

[Formulário utilizado](https://docs.google.com/forms/d/e/1FAIpQLSce7vg-mey8K3kIZwSrlhoPeN2dhbPIMjY7huwHwSVAS7G8tQ/viewform?usp=sf_link)

[Planilha de respostas](https://docs.google.com/spreadsheets/d/1ZOgApB70mzQgJdS5Vs0mgRAT9VThZT-SKvItuG4KJ8s/edit?usp=sharing)

[Referência 1](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.get_dummies.html)

[Referência 2](https://www.geeksforgeeks.org/python-pandas-series-str-get_dummies/)

Importação de bibliotecas

In [ ]:
import pandas as pd
from google.colab import files

Ao rodar a célula abaixo, é gerada uma janela onde será realizado o upload da planilha de Excel em formato *xlsx* que se deseja fazer a análise.

In [17]:
uploaded = files.upload()

for fn in uploaded.keys():
  dados = pd.read_excel(fn)
  
dados

Saving Dicas para pesquisadores (respostas).xlsx to Dicas para pesquisadores (respostas) (1).xlsx

      Carimbo de data/hora                       Pergunta de múltipla escolha
0  2021-11-04 15:13:56.690                          Opção 1, Opção 3, Opção 4
1  2021-11-04 15:14:02.372                 Opção 2, Opção 4, Opção 5, Opção 6
2  2021-11-04 15:14:06.222                                            Opção 2
3  2021-11-04 15:14:10.576                          Opção 1, Opção 4, Opção 7
4  2021-11-04 15:14:16.435  Opção 1, Opção 2, Opção 3, Opção 4, Opção 5, O...
5  2021-11-04 15:14:19.214                                            Opção 7
6  2021-11-04 15:14:23.427                 Opção 3, Opção 4, Opção 5, Opção 6
7  2021-11-04 15:14:27.651                 Opção 1, Opção 3, Opção 5, Opção 6
8  2021-11-04 15:14:33.385                 Opção 1, Opção 5, Opção 6, Opção 7
9  2021-11-04 15:14:37.069                          Opção 2, Opção 5, Opção 6
10 2021-11-04 15:14:41.855                 Opção 2, Opção 4, Opção 5, Opção 7
11 2021-11-04 15:14:45.814                          Opção 1, Opção 4, Opção 5
12 2021-11-04 15:14:49.259                          Opção 5, Opção 6, Opção 7
13 2021-11-04 15:14:53.502                 Opção 2, Opção 3, Opção 5, Opção 7

Na planilha abaixo, é necessário colocar o nome da coluna que se deseja analisar na variável **nome_da_coluna**.

Ao rodar a célula, duas tabelas serão geradas:
* Tabela Soma - uma tabela de consolidação das respostas da pergunta desejada;
* Tabela Dummie - uma tabela onde cada opção virou uma coluna, sendo que, se a resposta continha aquela opção, é marcado o número **1**, e caso não, o número **0**

In [30]:
#alterar para o nome da tabela que se deseja escolher
nome_da_coluna = 'Pergunta de múltipla escolha'

#substituição dos espaços e vírgula por apenas vírgula
dados[nome_da_coluna] = dados[nome_da_coluna].str.replace(', ',',')

#geração da tabela dummie com a função str.get_dummies
tabela_dummie = dados[nome_da_coluna].str.get_dummies(',')

#geração da tabela soma, adicionando o .sum() e transformando em um DataFrame
tabela_soma = pd.DataFrame(dados[nome_da_coluna].str.get_dummies(',').sum(), columns = ['Total'])
#alteração do nome do index
tabela_soma.index.name = nome_da_coluna
#criação de uma coluna para Porcentagem
tabela_soma['Porcentagem'] = ((tabela_soma['Total']/len(dados))*100).round(2)

#transformação dos dataframes em excel
tabela_soma.to_excel('tabela_soma_'+ nome_da_coluna + '.xlsx')
tabela_dummie.to_excel('tabela_dummie_'+ nome_da_coluna + '.xlsx')

#download dos arquivos
files.download('tabela_soma_'+ nome_da_coluna + '.xlsx')
files.download('tabela_dummie_'+ nome_da_coluna + '.xlsx')

#visualização das tabelas
display(tabela_soma)
print('\n')
print('\n')
display(tabela_dummie)

                              Total  Porcentagem
Pergunta de múltipla escolha
Opção 1                           6        42.86
Opção 2                           6        42.86
Opção 3                           5        35.71
Opção 4                           7        50.00
Opção 5                          10        71.43
Opção 6                           7        50.00
Opção 7                           7        50.00

    Opção 1  Opção 2  Opção 3  Opção 4  Opção 5  Opção 6  Opção 7
0         1        0        1        1        0        0        0
1         0        1        0        1        1        1        0
2         0        1        0        0        0        0        0
3         1        0        0        1        0        0        1
4         1        1        1        1        1        1        1
5         0        0        0        0        0        0        1
6         0        0        1        1        1        1        0
7         1        0        1        0        1        1        0
8         1        0        0        0        1        1        1
9         0        1        0        0        1        1        0
10        0        1        0        1        1        0        1
11        1        0        0        1        1        0        0
12        0        0        0        0        1        1        1
13        0        1        1        0        1        0        1